extends ../layouts/main

block content
  .container.mt-4
    h2 Admin Dashboard

    .row.mt-4
      .col-md-4
        .card.shadow-sm.p-3
          h4 Total Teachers
          p #{counts.teachers}

      .col-md-4
        .card.shadow-sm.p-3
          h4 Total Students
          p #{counts.students}

      .col-md-4
        .card.shadow-sm.p-3
          h4 Total Courses
          p #{counts.courses}
