extends ../layouts/main

block content
  .container.mt-4
    h2 Manage Teachers

    a.btn.btn-primary.mb-3(href="/admin/teachers/add") Add New Teacher

    if teachers.length
      table.table.table-bordered.table-striped
        thead
          tr
            th #
            th Name
            th Email
            th Actions
        tbody
          each t,i in teachers
            tr
              td #{i+1}
              td= t.name
              td= t.email
              td
                button.btn.btn-sm.btn-warning Edit
                button.btn.btn-sm.btn-danger Delete
    else
      p.mt-3 No teachers found.
