extends ../layouts/main.pug

block content
  h2 Attendance History

  table
    tr
      th Student
      th Date
      th Status
    each record in records
      tr
        td #{record.student_name}
        td #{record.date}
        td #{record.status}
