//- extends ../layouts/main

//- block content
//-   .container.mt-4
//-     h2 Upload Material for #{course.title}

//-     form(method="POST" enctype="multipart/form-data")
//-       .mb-3
//-         label.form-label Title
//-         input.form-control(type="text" name="title" required)

//-       .mb-3
//-         label.form-label File (PDF / DOCX / Image / Video)
//-         input.form-control(type="file" name="file" required)

//-       button.btn.btn-success(type="submit") Upload




extends ../layouts/main

block content
  .container.mt-4
    h2 Upload Material for #{course.title}

    form(method="POST" enctype="multipart/form-data")
      .mb-3
        label.form-label Title
        input.form-control(type="text" name="title" required)

      .mb-3
        label.form-label File
        input.form-control(type="file" name="file" required)

      button.btn.btn-success(type="submit") Upload
